---
import { type CollectionEntry, getCollection } from 'astro:content';
import BasePage from '../../layouts/BasePage.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('events');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'events'>;

const post = Astro.props;
const { Content } = await render(post);

const eventTimeString = new Date(post.data.eventTime).toLocaleTimeString(undefined, {
	timeZone: 'America/Los_Angeles',
	timeZoneName: 'short',
	hour: 'numeric',
	minute: 'numeric',
});
---

<BasePage {...post.data} title={post.data.eventType} pubDate={post.data.eventDate}>
	<h2>Starts {eventTimeString}</h2>
	<Content />
</BasePage>
