---
import Layout from '../layouts/BasePage.astro';
---

<Layout
	title="About Us"
>
	<p>
		This University Place, Washington based coalition was started in February 2026 because public access to the Salish Sea shoreline in our city is overly limited.
		The two main barriers keeping the public away are (1) the rail road tracks that limit lateral traversal of the shoreline and (2) residential homes built on the beach whos private property lines go as far as to give them ownership past the shoreline into the water itself.
		<br/>
		<br/>
		We see that there is great opportunity for improvement and intend to drive change by bringing <a href="/proposals">proposals</a> to city council and connecting key stakeholders.
		We also intend to be stewards of the hard-to-access parts of the shoreline until they become accessible to the general public.
		<br/>
		<br/>
		The current coalition leader is Gordon McCreary.
		Please consider <a href="/get-involved">getting involved</a>!
		<br/>
		<br/>
		Contact: <a href="mailto:up-shoreline-public-access@protonmail.com">up-shoreline-public-access@protonmail.com</a>
	</p>
</Layout>
